@import '../../../../Variables';
@import '../Header';

#menu {
  display: flex;
  margin: 0 0 0 auto;

  i {
    @include font-size(25);
  }

  p {
    text-transform: uppercase;
    @include font-size(13);
  }

  a, button {
    p {
      @media (max-width: $screen-xs) {
        display: none;
      }
    }

    @media (max-width: $screen-menu) {
      padding: 5px;
    }

    @media (max-width: $screen-xs) {
      min-width: 50px;
    }
  }
}