@use 'app/Variables';

#header {
  padding: 50px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 1;

  &.header-fixed {
    background: Variables.$header-color;
    padding: 30px 0;
    height: Variables.$header-fixed-height;

    .header-container {
      margin-top: -15px;

      #header-logo {
        cursor: pointer;
        width: 80px;
        height: 80px;
        top: -10px;
        left: 35px;
        transform: translate(0, 0);

        @media (max-width: Variables.$screen-xs) {
          left: 10px;
        }
      }
    }
  }
}