@use 'app/Variables' as *;

.quotation {
  width: 100%;

  .quotation-card {
    background: linear-gradient(to right, #fdfcfb, #e2d1c3);
    width: 100%;

    &.dark {
      background: $dark-background;
    }

    .avatar {
      background-color: $main-color;
      margin: auto;
    }

    .title {
      color: #2196f3;
      @include font-size(24);
    }

    .price {
      @include font-size(16);

      .amount {
        font-style: italic;
      }
    }

    .date {
      color: $gray;

      .relative-date {
        margin-bottom: 0;
        @include font-size(16);
      }

      .exact-date {
        margin-top: 0;
        @include font-size(10);
      }
    }
  }
}