@use 'app/Variables';

.quotation {
  width: 100%;

  .quotation-card {
    background: linear-gradient(to right, #fdfcfb, #e2d1c3);
    width: 100%;

    &.dark {
      background: Variables.$dark-background;
    }

    .avatar {
      background-color: Variables.$main-color;
      margin: auto;
    }

    .title {
      color: #2196f3;
      @include Variables.font-size(24);
    }

    .price {
      @include Variables.font-size(16);

      .amount {
        font-style: italic;
      }
    }

    .date {
      color: Variables.$gray;

      .relative-date {
        margin-bottom: 0;
        @include Variables.font-size(16);
      }

      .exact-date {
        margin-top: 0;
        @include Variables.font-size(10);
      }
    }
  }
}