@use 'app/Variables';

#side-menu {
  .MuiDrawer-paper {
    background: #363E42;
    width: 290px;

    @media (max-width: Variables.$screen-xxs) {
      width: 240px;

      #side-logo {
        margin: 0 20px;
      }
    }
  }

  #side-logo {
    position: initial;
    width: 200px;
    height: 200px;
    transform: translate(0, 0);
    margin: 0 45px;
  }

  .menu-items {
    li {
      a {
        display: block;
        padding: 10px 22px 10px 15px;
        @include Variables.font-size(18);
      }

      &.menu-active a {
        color: Variables.$main-color;
      }
    }
  }
}