@use 'app/Variables';

$_contact-avatar: 120px;

#media {
  background: url(../../../../../assets/img/contact-bg.jpg) fixed center;
  box-sizing: content-box;

  .card-media {
    height: Variables.$contact-card-normal-height;
    background-color: rgba(0, 0, 0, 0.6);

    @media (max-width:Variables.$screen-xs) {
      height: Variables.$contact-card-xs-height;
      padding-top: 50px;
    }

    .avatar {
      margin: 40px auto 50px auto;
      height: $_contact-avatar;
      width: $_contact-avatar;
      border: 5px solid #fff;

      @media (max-width: Variables.$screen-xs) {
        margin: 10px auto 35px auto;
      }
    }

    .social-links {
      button {
        background: #000;
        color: #fff;
        width: 50px;
        height: 50px;
        transition: 0.3s;
        @include Variables.font-size(18);
        @include Variables.animate-icon-hover();
      }

      .twitter:hover {
        background: Variables.$twitter-color;
      }

      .facebook:hover {
        background: Variables.$facebook-color;
      }

      .instagram:hover {
        background: Variables.$instagram-color;
      }
    }
  }
}