@use 'app/Variables';
@use 'app/features/quotations/header/Header';

#quotation-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - #{Header.$header-height});
  color: Variables.$gray;

  svg {
    @include Variables.font-size(140);
  }

  .title {
    text-align: center;
    margin-bottom: 0;
    @include Variables.font-size(32);
  }

  .access {
    display: block;
    margin: 40px auto;
    border-radius: 50px;
    width: 350px;

    @media (max-width: 350px) {
      width: auto;
    }
  }
}