@import '../../../../Variables';

#content {
  .card-content {
    height: $contact-card-normal-height;

    .content {
      padding: 5%;

      h1 {
        font-style: oblique;
      }

      hr {
        border-top: 3px solid #ccc;
        margin-bottom: 40px;
      }

      div {
        margin-bottom: 30px;

        p {
          font-style: oblique;
          @include font-size(18);
        }

        .email-button {
          min-width: 255px;
        }

        button {
          text-transform: none;
          @include font-size(18);

          .button-label {
            float: right;
            margin: 5px 0;
            font-style: inherit;
            color: $gray;
          }

          svg {
            color: $main-color;
            margin-right: 30px;
            @include font-size(36);
          }
        }
      }
    }
  }
}