@import '../../../Variables';

.editable-field {
  .not-editing {
    display: inline-flex;
    padding-left: 50px;

    .edit-button {
      height: 50px;
    }
  }

  .editing {
    margin: 22px 0;
    min-width: 400px;
    max-width: 70%;

    @media (max-width: 500px) {
      min-width: auto;
    }

    input {
      @include font-size(32);

      @media (max-width: $screen-xs) {
        @include font-size(20);
      }
    }
  }
}