@use 'app/Variables' as *;

#quotation-toolbar {
  height: $toolbar-height;
  background-color: $header-color;

  .sort-button {
    color: #fff;
    margin: 15px 10px auto auto;
    transition: 0.5s;

    svg {
      margin-left: 15px;
    }

    &.compact {
      @media (max-width: 499px) {
        margin-right: -20px;
        @include font-size(13);
      }

      @media (max-width: 455px) {
        margin-top: 5px;
        max-width: 200px;
      }

      @media (max-width: $screen-xxs) {
        margin-top: 10px;
        @include font-size(10);

        svg {
          margin-left: 5px;
        }
      }
    }
  }
}