@import '../../../Variables';

#about {
  padding: $content-padding;

  @media (max-width: $screen-lg) {
    padding: $content-padding-lg;
  }

  p {
    line-height: 35px;
  }

  img {
    max-width: 100%;
    height: 100%;
    min-height: 350px;
    display: block;
    margin: auto;
  }
}