@import '../../../../../../../../Variables';

.menu-item-header {
  .menu-title {
    color: #E8453C;

    .avatar {
      background-color: $main-color;
      float: left;
      margin-top: -10px;
    }

    input {
      margin-top: -10px;
    }

    svg {
      position: fixed;
      margin: 0 5px;
      @include font-size(13);
    }
  }

  button {
    margin-right: 10px;
  }
}