@use 'app/Variables';

#dish-header {
  display: flex;
  align-items: center;

  .navigation {
    @include Variables.font-size(36);
  }

  .title {
    flex: 1 1 auto;
    margin-left: 15px;

    .sub-title {
      color: Variables.$gray;
      @include Variables.font-size(16);
    }
  }

  @media (max-width: Variables.$screen-xxs) {
    .title {
      @include Variables.font-size(16);
    }
  }
}