@use 'app/Variables' as *;

#dish-header {
  display: flex;
  align-items: center;

  .navigation {
    @include font-size(36);
  }

  .title {
    flex: 1 1 auto;
    margin-left: 15px;

    .sub-title {
      color: $gray;
      @include font-size(16);
    }
  }

  @media (max-width: $screen-xxs) {
    .actions {
      margin-right: 5px;

      button {
        @include font-size(10);
      }
    }

    .title {
      @include font-size(16);
    }
  }
}