@import '../../../../../Variables';

#dish-header {
  display: flex;
  align-items: center;

  .navigation {
    font-size: 1.8em;
  }

  .title {
    flex: 1 1 auto;
    margin-left: 15px;

    .sub-title {
      color: $gray;
      font-size: medium;
    }
  }

  @media (max-width: $screen-xxs) {
    .actions {
      margin-right: 5px;

      button {
        font-size: x-small;
      }
    }

    .title {
      font-size: medium;
    }
  }
}