@use 'app/Variables';

#social {
  padding: Variables.$content-padding;

  @media (max-width: Variables.$screen-lg) {
    padding: Variables.$content-padding-lg;
  }

  .social-section {
    text-align: center;
    margin-bottom: 40px;

    @media (max-width: Variables.$screen-xs) {
      text-align: left;
    }

    .fb-like {
      margin-top: 20px;

      &.dark {
        background-color: Variables.$gray;
        border-radius: 5px;
      }
    }

    .social-contact-icons {
      color: Variables.$gray;
      margin-top: 30px;
      @include Variables.font-size(48);

      @media (max-width: Variables.$screen-sm) {
        @include Variables.font-size(35);
      }

      @media (max-width: Variables.$screen-xs) {
        display: none;
      }
    }

    button {
      margin-left: 20px;
      @include Variables.animate-hover(Variables.$facebook-color);
    }
  }
}