@import '../../../../../../../../Variables';

.menu-item-content {
  .menu-description {
    font-size: x-large;
    padding-bottom: 30px;
  }

  .menu-footer {
    font-style: oblique;
    text-align: left;

    b {
      float: right;
    }

    i {
      font-size: x-small;
      position: fixed;
      padding: 0 3px;
    }

    .menu-quantity-field {
      max-width: 50px;
      margin: -2px 0 0 10px;
    }
  }
}