@use 'app/Variables';

.menu-item-content {
  .menu-description {
    padding-bottom: 30px;
    @include Variables.font-size(24);
  }

  .menu-footer {
    font-style: oblique;
    text-align: left;

    b {
      float: right;
    }

    svg {
      position: absolute;
      margin: 0 3px;
      @include Variables.font-size(10);
    }

    .menu-quantity-field {
      max-width: 50px;
      margin: -2px 0 0 10px;
    }
  }
}