@import '../../../../Variables';

.logo {
  position: fixed;
  color: #fff;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  transition-duration: 0.5s;

  @media (min-height: 550px) {
    transform: translate(-50%, -80%);
  }
}