@use 'app/Variables';
@use 'app/features/quotations/header/Header';

#navigation {
  display: flex;
  align-items: center;

  @media (max-width: 389px) {
    max-width: 170px;
  }

  button {
    margin-right: 15px;

    svg {
      color: #fff;
      @include Variables.font-size(43);
    }
  }

  p {
    max-height: Header.$header-height;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.5s;
    @include Variables.font-size(24);

    @media (max-width: Variables.$screen-xs) {
      @include Variables.font-size(18);
    }

    @media (max-width: Variables.$screen-xxs) {
      margin-left: -20px;
      @include Variables.font-size(13);
    }
  }
}

#navigation-logo {
  cursor: pointer;
  fill: #fff;
}