@import '../../../../Variables';
@import '../Header';

#navigation {
  display: flex;
  align-items: center;

  @media (max-width: 389px) {
    max-width: 170px;
  }

  button {
    margin-right: 15px;

    i {
      color: #fff;
      @include font-size(43);
    }
  }

  p {
    max-height: $header-height;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.5s;
    @include font-size(24);

    @media (max-width: $screen-xs) {
      @include font-size(18);
    }

    @media (max-width: $screen-xxs) {
      margin-left: -20px;
      @include font-size(13);
    }
  }
}