@use 'app/Variables';

#services {
  padding: Variables.$content-padding;

  @media (max-width: Variables.$screen-lg) {
    padding: Variables.$content-padding-lg;
  }

  p {
    line-height: 35px;
  }
}