@use 'app/Variables';

.course-type {
  margin-top: 20px;

  @media (max-width: Variables.$screen-xs) {
    margin-top: 0;
  }

  .name {
    font-style: oblique;
    color: #E8453C;
    @include Variables.font-size(24);
  }

  .loader-circle {
    width: 20px;
    height: 20px;
    float: left;
  }

  .loader-text {
    width: 250px;
    left: 10px;
  }

  ol {
    text-align: justify;

    a {
      cursor: pointer;
    }
  }
}