@import '../../../../Variables';

.course-type {
  margin-top: 20px;

  @media (max-width: $screen-xs) {
    margin-top: 0;
  }

  .name {
    font-style: oblique;
    color: #E8453C;
    @include font-size(24);
  }

  .loader {
    width: 400px;
    margin-left: 200px;;
  }

  ol {
    text-align: justify;

    a {
      cursor: pointer;
    }
  }
}