@use 'app/Variables';

#quotation-edit-content {
  text-align: center;
  padding-right: 15px;
  overflow-x: hidden;

  .content {
    padding-top: Variables.$toolbar-height;

    .editing {
      @media (max-width: 500px) {
        min-width: 80%;
      }
    }

    .loader {
      .loader-header {
        height: 50px;

        .loader-header-circle {
          width: 50px;
          height: 50px;
          margin: 0 15px;
          float: left;
        }

        .loader-header-title {
          width: calc(100% - 135px);
          float: left;

          .text {
            width: 70%;
            margin: 15px auto;
          }
        }

        .loader-header-menu {
          margin: 10px 25px 0 0;
          float: right;
        }
      }

      .loader-data1 {
        width: 75%;
        margin: 20px auto 2px auto;
      }

      .loader-data2 {
        width: 30%;
        margin: auto;
      }

      .loader-divider {
        height: 2px;
        margin: 30px 0 10px 0;
      }

      .loader-footer {
        height: 10px;
        margin-top: 10px;

        span {
          height: 10px;
          float: left;
        }

        .loader-right {
          margin-right: 20px;
          float: right;
        }
      }
    }
  }

  .quotation-folio {
    margin-top: 30px;
    color: Variables.$gray;
  }
}