@use 'app/Variables';

.about-item {
  padding: 0 0 30px 0;
  @include Variables.animate-icon-hover();

  .icon {
    float: left;
    height: 53px;
    padding: 16px;
    border-radius: 50%;
    border: 2px solid Variables.$main-color;

    svg {
      color: Variables.$main-color;
      @include Variables.font-size(20);
    }
  }

  .title {
    margin-left: 80px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
    @include Variables.font-size(16);
  }

  .description {
    margin-left: 80px;
    line-height: 24px;
    @include Variables.font-size(13);
  }
}