@import '../../../../Variables';

.social-posts {
  margin-bottom: 80px;

  .social-label svg {
    color: $facebook-color;
    margin-right: 20px;
    @include font-size(20);
  }

  .social-label-hidden svg {
    @include font-size(0);
  }

  .action-button {
    width: 280px;
  }
}