@use 'app/Variables';

.social-posts {
  margin-bottom: 80px;

  .social-label svg {
    color: Variables.$facebook-color;
    margin-right: 20px;
    @include Variables.font-size(20);
  }

  .social-label-hidden svg {
    @include Variables.font-size(0);
  }

  .action-button {
    width: 280px;
  }
}