@import '../../../Variables';

$btn-width: 56px;

.course-type {
  .btn-container {
    width: $btn-width;
    position: fixed;
    bottom: $floating-button-bottom;
    margin-left: calc(100vw - #{$btn-width} - #{$floating-button-right});

    @media (max-width: $screen-sm) {
      margin-left: calc(100vw - #{$btn-width} - #{$floating-button-right-sm});
    }

    @media (max-width: $screen-xs) {
      margin-left: calc(100vw - #{$btn-width} - #{$floating-button-right-xs});
    }

    button {
      transition: transform 1s;
      animation-fill-mode: initial;

      svg {
        @include font-size(16);
      }
    }
  }
}