@use 'sass:math';

//break points
$screen-lg: 1279px;
$screen-sm: 959px;
$screen-xs: 599px;
$screen-xxs: 349px;

//colors
$header-color: rgba(52, 59, 64, 0.9);
$main-color: #2dc997;
$error-color: #ff1744;
$secondary-color: #2196f3;
$google-color: #e8453c;
$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$instagram-color: #fb3958;
$gray: #888;
$dark-background: #424242;

//floating-button
$floating-button-bottom: 20px;
$floating-button-right: 50px;
$floating-button-right-sm: 30px;
$floating-button-right-xs: 20px;

//toolbar
$toolbar-height: 64px;

//card
$card-border-radius: 20px;

//contact
$contact-card-normal-height: 350px;
$contact-card-xs-height: 250px;

$header-fixed-height: 10px;
$content-padding: 30px 40px;
$content-padding-lg: 0 20px 60px;

@mixin font-size($sizeInPX) {
  font-size: math.div($sizeInPX, 16) + rem;
}

@mixin animate-hover($color, $selector: "&") {
  #{$selector} {
    color: #fff;
    background-color: $color;
  }

  &:hover {
    #{$selector} {
      color: $color;
      background-color: #fff;
    }
  }

  @include animate-icon-hover();
}

@mixin animate-icon-hover() {
  &:hover {
    svg {
      transform: scale(1.5) rotate(15deg);
      transition: 1s;
    }
  }
}
