@use 'app/Variables';

.filter-sort {
  text-align: center;

  .active {
    color: #fff;
    background-color: Variables.$main-color;

    &:hover {
      background: Variables.$main-color;
      color: #fff;
    }
  }
}