@import '../../../../../../Variables';

#quotation-edit-toolbar {
  height: $toolbar-height;
  background-color: $header-color;

  .quotation-price {
    color: #fff;
    @include font-size(24);

    @media (max-width: 369px) {
      @include font-size(16);
    }

    .price-question {
      margin-top: -15px;
      color: #fff;
      @include font-size(10);
    }

    @media (max-width: 810px) {
      margin-left: -15px;

      .price-label {
        @include font-size(16);
      }
    }

    @media (max-width: 689px) {
      margin-left: 0;

      .price-label {
        display: none;
      }
    }
  }
}