@import '../../../../Variables';
@import '../../header/Header';

#menu-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(100vh - #{$header-height} - #{$header-height});

  .menu-summary-paper {
    border-radius: 20px;
    padding: 40px;

    @media (max-width: $screen-xxs) {
      padding: 10px;
    }

    .price {
      font-size: x-large;
      font-style: oblique;
    }

    .menu-summary-price {
      margin-bottom: 5vh;
    }

    .menu-summary-total {
      margin-top: 10vh;
    }

    .menu-summary-actions {
      button {
        margin: 10px 20px;
      }
    }

    .menu-summary-flex {
      display: flex;
      margin-top: 15vh;

      @media (max-width: $screen-xs) {
        display: contents;
      }

      button {
        min-width: 200px;
      }
    }
  }
}