@import '../../../../Variables';

.service {
  padding: 50px 20px;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid #e6e6e6;
  height: 250px;
  position: relative;
  background: #fafafa;
  @include animate-hover($main-color, '.icon');

  &.dark {
    border: $dark-background;
    background: $dark-background;
  }

  .icon {
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    display: inline-block;
    border: 6px solid #fff;
    padding: 16px;

    svg {
      @include font-size(21);
    }
  }

  .title {
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    @include font-size(18);
  }

  .description {
    line-height: 24px;
    @include font-size(11);
  }
}