@use 'app/Variables' as *;
@use 'app/features/quotations/header/Header';

$_tab-bar-height: 48px;

#menu-edit-tabs {
  #expand-bar {
    top: Header.$header-height;
    height: $_tab-bar-height;
    background: $header-color;
    color: #fff;

    button {
      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }

      @media (max-width: $screen-xs) {
        @include font-size(10);
      }

      @media (max-width: $screen-xxs) {
        @include font-size(9);
      }
    }

    .indicator {
      height: 5px;
      background-color: $main-color;
    }

    .course-type-tab {
      span {
        display: initial;
      }

      .avatar {
        float: left;
        width: 25px;
        height: 25px;
        margin: -5px 15px 0 0;
        background-color: $secondary-color;
        @include font-size(13);

        @media (max-width: $screen-xs) {
          margin-right: 5px;
        }

        @media (max-width: $screen-xxs) {
          width: 20px;
          height: 20px;
          @include font-size(9);
        }
      }
    }

    .summary-tab {
      min-width: 75px;
      max-width: 75px;

      @media (max-width: $screen-xs) {
        min-width: 50px;
        max-width: 50px;
      }

      svg {
        color: #FFFF00;
        margin-right: 5px;
        @include font-size(24);
      }
    }
  }

  .swipeable-views {
    margin-top: - Header.$header-height;

    .swipeable {
      padding-top: Header.$header-height + $_tab-bar-height;
      height: 100vh;

      .tab-content {
        min-height: calc(100vh - #{Header.$header-height} - #{$_tab-bar-height} - #{Header.$header-height} - #{$_tab-bar-height});
      }
    }
  }
}