@use 'app/Variables';

.section-header {
  .section-title {
    font-weight: 700;
    font-style: oblique;
    @include Variables.font-size(28);
  }

  .section-description {
    margin-bottom: 50px;
    line-height: 35px;
  }
}