@use 'app/Variables' as *;

$header-height: 64px;
$screen-menu: 734px;

#quotations-header {
  height: $header-height;

  #app-bar {
    height: $header-height;
    background: $header-color;
    box-shadow: none;

    .tool-bar {
      padding: 0 24px;

      @media (max-width: $screen-menu) {
        padding: 0 10px;
      }

      svg {
        margin-right: 5px;
      }
    }
  }
}