@use 'app/Variables';

#dish-filter {
  button:hover {
    opacity: 0.85;
  }

  .section-header {
    h2 {
      text-align: center;
      border-bottom: 1px solid #000;
      line-height: 0.1em;

      span {
        background: #fff;
        padding: 0 15px;

        &.dark {
          background: Variables.$dark-background;
        }
      }
    }
  }

  .clean-filter,
  .done-filter {
    text-align: center;

    button {
      color: #fff;
      width: 260px;
    }
  }

  .clean-filter button {
    background-color: Variables.$error-color;
    margin-top: 50px;
  }

  .done-filter {
    display: none;

    @media (max-width: Variables.$screen-sm) {
      display: block;
    }

    button {
      background-color: Variables.$main-color;
      margin-top: 20px;
    }
  }
}