@import '../../../../Variables';

#dish-filter {
  button:hover {
    opacity: 0.85;
  }

  .section-header {
    h2 {
      text-align: center;
      border-bottom: 1px solid #000;
      line-height: 0.1em;

      span {
        background: #fff;
        padding: 0 15px;

        &.dark {
          background: $dark-background;
        }
      }
    }
  }

  .clean-filter {
    text-align: center;

    button {
      color: #fff;
      background-color: $main-color;
      width: 260px;
      margin-top: 50px;
    }
  }
}