@use 'app/Variables' as *;

$_img-size: 180px;

#empty-course-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: $_img-size;
    height: $_img-size;
    border-radius: 50%;
    cursor: pointer;
  }

  p {
    color: $gray;
  }

  .title {
    text-align: center;
    margin-bottom: 0;
    @include font-size(32);
  }

  .subtitle {
    text-align: center;
    @include font-size(18);
  }
}