@use 'app/Variables';
@use 'app/common/components/fetch_button/FetchButton';

$_action-margin-left: 20px;

#action-buttons {
  margin: auto 10px auto auto;

  .action-progress {
    margin-left: $_action-margin-left;
  }

  button {
    margin-left: $_action-margin-left;
    width: 230px;

    @media (max-width: Variables.$screen-sm) {
      width: 175px;
    }

    @media (max-width: 649px) {
      width: FetchButton.$action-small-width;

      .button-label {
        display: none;
      }

      .button-icon {
        margin-right: 0;
      }
    }

    &:disabled {
      background-color: Variables.$gray;
    }
  }
}