@use 'app/Variables' as *;
@use 'app/features/quotations/course_type/multiple_dishes_dialog/main_course/MainCourse';

.add-dish {
  min-width: 88px !important;
  border: dashed $gray !important;
  border-radius: MainCourse.$radius !important;

  svg {
    margin: 25px 0;
    color: $gray;
    @include font-size(32);
  }
}