@use 'app/Variables';
@use 'app/features/quotations/quotation/quotation_view/QuotationView';

#empty-quotation-list {
  @extend #quotation-view;

  .subtitle {
    @include Variables.font-size(18);
  }

  .create {
    display: block;
    margin: 40px auto;
    border-radius: 50px;
    width: 350px;

    @media (max-width: 350px) {
      width: auto;
    }
  }
}