@use 'app/Variables';

$radius: 10px;

#main-course {
  .loader {
    button {
      padding: 0;

      .loader-box {
        width: 88px;
        height: 104px;
        border-radius: $radius;
      }
    }
  }

  .main-course-divider {
    margin-top: 20px;
    height: 4px;
  }
}