@use 'app/Variables';

#create-new-quotation {
  width: 100%;
  min-height: 250px;
  border: dashed Variables.$gray;
  color: Variables.$gray;
  border-radius: Variables.$card-border-radius;

  span {
    display: flex;
    flex-direction: column;

    svg {
      margin: 25px 0;
      @include Variables.font-size(32);
    }
  }
}