@import '../../../../../../Variables';

#create-new-quotation {
  width: 100%;
  min-height: 250px;
  border: dashed $gray;
  color: $gray;
  border-radius: $card-border-radius;

  span {
    display: flex;
    flex-direction: column;

    svg {
      margin: 25px 0;
      @include font-size(32);
    }
  }
}