@use 'app/Variables' as *;

#selected-dish-dialog {
  div:first-child[aria-hidden=true] {
    background-color: transparent;
  }

  .selected-dish-dialog-content {
    .empty {
      min-height: 500px;
    }
  }

  .selected-dish-dialog-title,
  .selected-dish-dialog-content {
    transition-duration: 500ms;

    @media (max-width: $screen-xxs) {
      padding: 15px 0;
    }
  }
}